* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0f2027;
  color: white;
}

button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6; /* Abu-abu sangat muda */
  color: #1f2937; /* Hitam keabuan untuk teks */
}